<div class="mx-auto" style="width: 400px;"> 
       
    <div class="shadow p-3 mb-5 bg-white rounded">
    <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Logged in as <%= username %>
              </button>
            </h2>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
        <form method="GET" action='/logout'>
            <div class="form-group">
             <input type="submit" class="btn btn-primary btn-block" value = "Log Out"> 
             </div>
             </div>

        </form>
    </div>
    </div>
    </div>
    </div>
    </div>