<div id="<%= _id %>" >
<div class="input-group mb-3">
    <input id="disabledInput" placeholder="<%= taskName %>" type="text" class="form-control" aria-label="Text input with checkbox" disabled>
    <input type="hidden" name="username" value="<%= username %>">
  </div>
</div>